@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    font-family: 'Inter', system-ui, sans-serif;
  }
}
